{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'contact_page/css/contact_page.css' %}">
    <title>Contact</title>
</head>
<body>
    <main>
        <div>
            <a href="">Instagram</a>
        </div>
        <div>
            <a href="">Telegram</a>
        </div>
        <p>+38054923752035</p>
        <p>Наш магазин знаходиться за такими координатами: 51.38942110827667, 30.09883691389289</p>
    </main>
</body>
</html>
