{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
    <title>Regisration</title>
</head>
<body>
    <form action="" method="POST">
        <input type="text" placeholder="Введіть ваш логін" name="login">
        <input type="password" placeholder="Введіть ваш пароль" name="password">
        <input type="number" placeholder="Введіть ваш номер телефону" name="number">
        <input type="email" placeholder="Введіть ваш email" name="email">
    </form>
</body>
</html>
